.reviews__section {
  position: relative;

  &::before {
    content: url("img/decor/radial.png");
    position: absolute;
    bottom: -1.62rem;
    left: 22%;
  }
}

.reviews {
  margin-top: 2rem;
}

.reviews__display {
  background: #f8faf9;
  padding: 2.62rem;
  margin-bottom: 1.2rem;
  overflow: hidden;
  position: relative;
  min-height: rem(348px);

  @include tablets {
    margin-bottom: 2rem;
  }

  @include phones {
    margin-bottom: 3.5rem;
  }

  &::before {
    content: "";
    display: block;
    width: 5.18rem;
    height: 5.18rem;
    background: #FFF;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3.75rem;
  }
}

.reviews__display-inner {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  
  &--active {
    position: static;
    opacity: 1;
    pointer-events: unset;
  }

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.reviews__avatar {
  width: 15.82rem;
  height: 16rem;

  &-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include tablets {
    width: 8.5rem;
    height: 8.5rem;
    margin-top: 19px;
  }
}

.reviews__content {
  flex: 1;
  margin-left: 2.5rem;

  @include tablets {
    margin-left: 0;
    text-align: center;
  }
}

.reviews__title {
  margin-top: 2.125rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #292929;

  @include tablets {
    margin-top: 2.5rem;
  }
}

.reviews__text {
  width: 31.125rem;
  margin-top: 1.6rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666;

  @include tablets {
    margin-top: 1.1rem;
    width: 100%;
  }
}

.reviews__author {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
  margin-top: 1rem;

  @include tablets {
    margin-top: 2rem;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  gap: 0.125rem;
}
