.button {
  padding: 1.125rem 2.56rem;
  background: #e01f3d;
  border-radius: 6.25rem;
  max-width: 10.18rem;
  color: #fff;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border: none;
  transition: 0.5s;

  &:hover {
    background: #CA1B36;
  }

  &--transparent {
    background: transparent;
    padding: 0;
    margin-left: 1rem;
    
    &:hover {
      background: transparent;
      color: #000000;
    }
  }
}

