.button {
  padding: 18px 41px;
  background: #e01f3d;
  border-radius: 100px;
  width: 163px;
  color: #fff;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  transition: 0.5s;

  &:hover {
    background: #CA1B36;
  }
}
