.fixed-menu {
  position: fixed;
  top: 34%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 0.312rem;

  &--active {
    .fixed-menu__link {
      border-color: #E01F3D;
      
    }
  }

  &--active {
    .fixed-menu__link::before {
      background: #E01F3D;
    }
  }
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #292929;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}