.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 1.25rem;

  &--checkbox {
    margin-bottom: 2.875rem;
    .radio__visible {
      border-radius: 4px;

      &::before {
        background: url("/Beats/img/decor/check.svg") center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: 1.56rem;
  height: 1.56rem;
  position: relative;
  border-radius: 50%;
  background: #FFF;
  margin-right: 10px;

  &::before {
    content: "";
    display: none;
    width: 0.81rem;
    height: 0.81rem;
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}