body,
html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 940px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

footer {
  position: relative;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}
.menu__item {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #292929;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.contact__phone-icon-item {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}

.hello {
  color: #292929;
  height: 100vh;
  min-height: 650px;
  background: #f5f5f5;
  position: relative;
}
.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  background: url("/Beats/img/hello/headphones.png") right 6% top 50%/50% auto no-repeat;
  padding: 24px 0 70px 0;
}
.hello__content {
  width: 40%;
}
.hello__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
}
.hello__text {
  width: 332px;
  margin-top: 22px;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}
.hello__icons {
  margin-top: 69px;
}
.hello--button {
  margin-top: 36px;
}
.hello::before {
  content: url("/Beats/img/decor/hello__decor.png");
  position: absolute;
  bottom: -30px;
  right: 24.5%;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  margin-right: 10px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}
.feature__text {
  width: 114px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.button {
  padding: 18px 41px;
  background: #e01f3d;
  border-radius: 100px;
  width: 163px;
  color: #fff;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button:hover {
  background: #CA1B36;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section::after {
  content: url("/Beats/img/decor/triangle.svg");
  position: absolute;
  bottom: -26px;
  left: 20.5%;
}

.section__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  text-align: center;
}

.headline {
  text-align: center;
}
.headline__title {
  margin-bottom: 18px;
}
.headline__subtitle {
  padding: 0 20%;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 62px;
  padding-right: 3%;
  position: relative;
}
.benefits__item::before {
  content: url(/Beats/img/decor/sep.png);
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}
.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefit__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 7px;
}
.benefit__desc {
  padding: 0 4%;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666;
}