html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body,
html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

footer {
  position: relative;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.logo-icon {
  width: 40px;
  height: 40px;
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}
.menu__item {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #292929;
  margin-right: 30px;
  margin-bottom: 5px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  white-space: nowrap;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  white-space: nowrap;
  padding: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contacts__phone:hover {
  color: #E01F3D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contacts__phone:hover .phone__icon {
  fill: #E01F3D;
}
@media screen and (max-width: 768px) {
  .contacts__phone--header {
    display: none;
  }
}

.contact__phone-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone__icon {
  max-width: 14px;
  max-height: 14px;
  margin-right: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__humburger-item {
  width: 26px;
  height: 24px;
}

.hello {
  color: #292929;
  height: 100vh;
  min-height: 40.645rem;
  background: #f5f5f5;
  position: relative;
}
.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 4.375rem 0;
}
.hello__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
}
@media screen and (max-width: 768px) {
  .hello__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
.hello__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hello__title {
    text-align: center;
    margin-top: 4.4rem;
  }
}
@media screen and (max-width: 480px) {
  .hello__title {
    font-size: 32px;
    line-height: 36px;
    margin-top: 3.3rem;
    width: 80%;
  }
}
.hello__text {
  width: 20.75rem;
  margin-top: 1.375rem;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  .hello__text {
    text-align: center;
    margin-top: 8px;
  }
}
@media screen and (max-width: 480px) {
  .hello__text {
    font-size: 18px;
    line-height: 20px;
    margin-top: 17px;
  }
}
.hello__icons {
  margin-top: 4.31rem;
}
.hello--button {
  margin-top: 2.25rem;
  width: 11rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .hello--button {
    margin-top: 1.7rem;
    width: 323px;
  }
}
.hello::before {
  content: url("/Beats/img/decor/hello__decor.png");
  position: absolute;
  bottom: -1.87rem;
  right: 24.5%;
}

.hello__content-title {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .hello__content-title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .hello__content-img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 21.187rem;
  }
}
@media screen and (max-width: 480px) {
  .hello__content-img {
    max-width: 23rem;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  margin-right: 0.62rem;
}
.features__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .features {
    display: none;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature__icon {
  width: 2.56rem;
  height: 2.56rem;
  margin-right: 0.68rem;
}
.feature__text {
  width: 7.125rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.button {
  padding: 1.125rem 2.56rem;
  background: #e01f3d;
  border-radius: 6.25rem;
  color: #fff;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 480px) {
  .button {
    padding: 1.5rem 0;
    text-align: center;
    width: 12rem;
  }
}
.button:hover {
  background: #CA1B36;
}
.button--transparent {
  background: transparent;
  padding: 0;
  margin-left: 1rem;
}
@media screen and (max-width: 480px) {
  .button--transparent {
    width: auto;
  }
}
.button--transparent:hover {
  background: transparent;
  color: #000000;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 32px;
    line-height: 36px;
  }
}

.headline {
  text-align: center;
}
.headline__title {
  margin-bottom: 1.125rem;
}
.headline__subtitle {
  padding: 0 20%;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0;
    margin-top: 5px;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 3.875rem;
  padding-right: 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding-right: 0;
  }
}
.benefits__item::before {
  content: url(/Beats/img/decor/sep.png);
  position: absolute;
  top: 3.125rem;
  right: 0;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.section__decor--triangle::after {
  content: url("/Beats/img/decor/triangle.png");
  position: absolute;
  bottom: -1.625rem;
  left: 20.5%;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.benefit__icon {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
  .benefit__text {
    text-align: start;
  }
}
.benefit__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0.43rem;
}
.benefit__desc {
  padding: 0 4%;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    padding: 0;
  }
}

.reviews__section {
  position: relative;
}
.reviews__section::before {
  content: url("/Beats/img/decor/radial.png");
  position: absolute;
  bottom: -1.62rem;
  left: 22%;
}

.reviews {
  margin-top: 2rem;
}

.reviews__display {
  background: #f8faf9;
  padding: 2.62rem;
  margin-bottom: 1.2rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display {
    margin-bottom: 3.5rem;
  }
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.18rem;
  height: 5.18rem;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.75rem;
}

.review__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .review__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.82rem;
  height: 16rem;
}
.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.5rem;
    height: 8.5rem;
    margin-top: 19px;
  }
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
    text-align: center;
  }
}

.reviews__title {
  margin-top: 2.125rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-top: 2.5rem;
  }
}

.reviews__text {
  width: 31.125rem;
  margin-top: 1.6rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-top: 1.1rem;
    width: 100%;
  }
}

.reviews__author {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .reviews__author {
    margin-top: 1rem;
  }
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.125rem;
}

.interactive-avatar {
  width: 5rem;
  height: 5rem;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.interactive-avatar--active {
  border: 4px solid #e01f3d;
}

.delivery__section {
  background: url("/Beats/img/section__delivery/bg.png") center bottom/100% no-repeat, #181818;
  color: #fff;
}

.section__title--delivery {
  margin-bottom: 3.81rem;
}
@media screen and (max-width: 768px) {
  .section__title--delivery {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title--delivery {
    margin-bottom: 2.8rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 16%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.68rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.68rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.125rem 0.75rem;
  border: 3px solid transparent;
  border-radius: 4px;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
  margin-bottom: 1.43rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.5rem;
  }
}
.form__input:focus {
  border-color: #e01f3d;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.5rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.form__controls--payment {
  margin-bottom: 1.25rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.25rem;
}
.radio--checkbox {
  margin-bottom: 2.875rem;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible::before {
  background: url("/Beats/img/decor/check.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.56rem;
  height: 1.56rem;
  position: relative;
  border-radius: 50%;
  background: #FFF;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.81rem;
  height: 0.81rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 34%;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.312rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #292929;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__humburger-item {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__humburger-item {
    display: block;
  }
}

.map__section {
  background: url("/Beats/img/section__contacts/map.jpg") top center/cover no-repeat;
  position: relative;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.37rem;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 9.43rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  position: absolute;
  background: #fff;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 31px;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 0.5rem;
}
.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  width: 30px;
  height: 30px;
  fill: #b3b3b3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.social__icon:hover {
  fill: #000;
}

.cotnacts__address {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 480px) {
  .cotnacts__address {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 480px) {
  .contacts__phone--footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 19px;
  }
}