$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

@import "./media";
@import "./base";
@import "./blocks/header";
@import "./blocks/hello";
@import "./buttons";
@import "./blocks/section";
@import "./benefit";
@import "./blocks/_reviews";
@import "./interactive-avatar";
@import "./blocks/delivery";
@import "./radiobutton";
@import "./fixed-menu";
@import "./humburger";
@import "./blocks/map";
@import "./blocks/footer";