header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  &__list {
    display: flex;
    gap: 1.68rem;

    @include tablets {
      display: none;
    }
  }

  &__item {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #292929;
  }
}

.contacts__phone {
  display: flex;
  align-items: center;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  &--header {
    @include tablets {
      display: none;
    }
  }
}

.contact__phone-icon-item {
  width: 0.81rem;
  height: 0.81rem;
  margin-right: 0.375rem;
}