header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  &__list {
    display: flex;
    gap: 27px;
  }

  &__item {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #292929;
  }
}

.contacts__phone {
  display: flex;
  align-items: center;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.contact__phone-icon-item {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}